<h1>Tech Blog</h1>

  <ul>
  {{#each items}}
  <li>{{this.name}}</li>
  <h3>{{this.title}}</h3>
  <p>{{this.content}}</p>
  <span class='completed'><a href="/api/v1/items/delete/{{this.id}}">X</a></span>

  {{/each}}
  </ul>
  <h2> Create a blog post</h2>
  <section>
    <form class='add-item' action='/api/v1/items' method='post'>
      <div>
        <label for='item-name'> Your Name </label>
        <input type='text' name='name' value=''></input>
      </div>
      <div>
        <label for='item-title'> Title </label>
        <input type='text' name='title' value=''></input>
      </div>
      <div>
        <label for='item-content'>Blog Post </label>
        <textarea name='content' rows='8' cols= '40'></textarea>
      </div>
      <div>
        <input type='submit'>
      </div>
    </form>
  </section>
