<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="topBar">
            <img src="images/MXDlogo.png" alt="MXD" class='logo'/>
            <h1 class="white">Intro to Tech Blog</h1>
            <a href="/logout" class="logout white">Login / Logout</a>
          </div>
    {{{body}}}
  </body>
</html>
